/* Create the sparkle effect */
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/src/assets/pexels-visit-greenland-360912.jpg'); /* Update the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sparkle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through the overlay */
    z-index: -1; /* Set a lower z-index to position behind other content */
}

.sparkle {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgba(248, 243, 243, 0.993); /* Sparkle color */
    border-radius: 50%;
    opacity: 0;
    animation: sparkle 3s infinite;
    top: var(--y);
    left: var(--x);
}

@keyframes sparkle {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
