/* .navbar-item img {
   max-height: 3rem;
} */
a {
   text-decoration: none;
   color: inherit; /* Set the color to inherit from the parent element */
 }

 .navbar-logo-group {
   display: flex;
   width: 170px;
   flex-direction: column;
 }

.navbar-item {
   /* font-family: 'Libre Baskerville', serif; */
   font-family: 'Playfair Display', serif;
   font-size: 20px;
   max-height: 20px;
   margin: 10px 50px;
   font-weight: bold;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}

.navbar-logo {
   height: 170px;
   width: 170px;
   box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.178);
}

.navbar {
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-start;
}

.navbar-menu {
   display: flex;
   justify-content: space-around;
   width: 100%;
   max-height: 60px;
   background-color: rgba(128, 128, 128, 0.279);
   border-radius: 10px;
   padding: 20px;
}

.navbar-brand {
   display: flex;
   flex-wrap: nowrap;
}

.navbar-start {
   display: flex;
   max-height: 50px;
   justify-content: space-evenly;
   width: 80%;
   align-items: center;
   border-radius: 10px;
}

.navbar-end {
   display: flex;
   justify-content: flex-end;
   width: 20%;
   align-items: flex-start;
   padding: 20px;
}

.button {
   padding: 10px 12px;
   margin-left: 95%;
   font-weight: bold;
   font-size: 12px;
   border-radius: 5px;
   border: none;
   box-shadow: 1px 1px 3px black;
}

.button:hover {
   transform: scale(1.1);
   cursor: pointer;
}

